<!-- Project Foundation  
This project was built using a template as a starting point and customized to fit the app’s unique features and design.  
All final code and design choices were reviewed, tested, and implemented by the author.
 -->



<!doctype html>
<html>
<head>
  <title>Skill Swap</title>
    <!-- <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css"> -->
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
    <link rel="stylesheet" href="/style.css">
</head>
<body>
  <div class="container">

    <div class="page-header text-center">
      <h1>SkillSwap</h1>
      <a href="/logout" class="btn btn-default btn-sm">Logout</a>
    </div>

    <div class="row">
      <!-- LEFT SIDE: Posted Skills -->
      <div class="col-sm-6">
        <h3>Community Skills</h3>

        <% for (var i = 0; i < messages.length; i++) { %>
          <div class="skill-card">
            <div class="name"><%= messages[i].name %></div>
            <div class="msg"><%= messages[i].msg %></div>
          </div>
        <% } %>
      </div>

      <!-- RIGHT SIDE: Post a Skill -->
      <div class="col-sm-6">
        <h3>Offer Your Skill</h3>
        <% if (user.local.email) { %>
          <form action="/messages" method="POST">
            <input type="text" value="<%= user.local.email %>" name="name" readonly>
            <input type="text" placeholder="Describe the skill you’re offering or seeking" name="msg">
            <button type="submit">Share Skill</button>
          </form>
        <% } %>
      </div>
    </div>

  </div>


<script src="main.js"></script>

</body>
</html>
